body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: rgb(237, 233, 233);
  border-radius: 5px;
  box-shadow: 3px -2px 5px grey;
}

.burger-icon {
  cursor: pointer;
}

.personal-data {
  border-bottom: 1px solid rgb(230, 224, 224);
}

.personal-data img {
  border-radius: 7px;
  box-shadow: 3px -2px 5px grey;
}

.personal-data p:nth-child(2){
  font-weight: bold;
}

.personal-data p:nth-child(3){
  margin-bottom: 0;
}

.offcanvas {
  background-color: rgb(249, 244, 244);
}

.list-group {
  background-color: rgb(237, 233, 233);
  box-shadow: 3px -2px 5px grey;
}

.category-item {
  cursor: pointer;
}

.image-item {
  box-shadow: 3px -2px 5px grey;
}




